@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-FD.eot');
    src: url('../fonts/Vazir-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-FD.woff') format('woff'), url('../fonts/Vazir-FD.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold-FD.eot');
    src: url('../fonts/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Bold-FD.woff') format('woff'), url('../fonts/Vazir-Bold-FD.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Light-FD.eot');
    src: url('../fonts/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Light-FD.woff') format('woff'), url('../fonts/Vazir-Light-FD.ttf') format('truetype');
    font-weight: 300;
}

.myDirection {
    direction: rtl !important;
}

.myDirection2 {
    direction: ltr !important;
}

.persianFont {
    font-family: Vazir !important;
}

.header {
    margin-right: 16em !important;
    margin-left: 0 !important;
}

@media (max-width: 1440px) {
    .header {
        margin-right: 10em !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 1366px) {
    .header {
        margin-right: 8em !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 1280px) {
    .header {
        margin-right: 5em !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 800px) {
    .header {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 800px) {
    .sb-search {
        left: -10px !important;
        right: 0 !important;
    }
}

@media (max-width: 1280px) {
    .sb-search {
        left: -58px !important;
        right: 0 !important;
    }
}

@media (max-width: 1024px) {
    .sb-search {
        left: -75px !important;
        right: 0 !important;
    }
}

@media (max-width: 800px) {
    .sb-search {
        left: -15px !important;
        right: 0 !important;
    }
}

@media (max-width: 640px) {
    .sb-search {
        left: 0 !important;
        right: 0 !important;
    }
}

.banner {
    background: url(../images/banner12.jpg) no-repeat center top !important;
}

.dropdown-button {
    margin-right: 25px !important;
    margin-left: 0 !important;
}

.dropdown-button {
    margin-left: 5px !important;
    margin-right: 0 !important;
}

.flat .selected,
.flat li,
.metro .selected,
.metro li {
    text-align: center !important;
}

ul.filter2 {
    padding: 0;
    list-style: none;
    margin-top: -5px;
    /* direction: rtl; */
}

ul.filter2 li.fil {
    float: right;
    margin: 15px 0 0 0;
    font-size: 0.8125em;
    text-transform: uppercase;
    font-weight: 500;
    color: #96a6a7;
}

/* ul.filter li a i.newIcon {
    background: url(../images/img-sprite2.png)no-repeat !important;
} */

/* ul.filter li a i.newIcon.active{
    background-position-y: -61px !important;
} */

/* ul.filter li a i.newIcon.wifi {
    background-position: -7px -6px !important;
}

ul.filter li a i.newIcon.pool {
    background-position: -56px -6px !important;
}

ul.filter li a i.newIcon.tv {
    background-position: -106px -6px !important;
}

ul.filter li a i.newIcon.cooler {
    background-position: -156px -6px !important;
}

ul.filter li a i.newIcon.laundry {
    background-position: -207px -6px !important;
}

ul.filter li a i.newIcon:hover {
    background-position-y: -61px !important;
} */

ul.filter2 li a i.little-icon {
    display: block;
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 3px;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 150ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 150ms;
}

ul.filter2 li a i.little-icon:hover {
    -webkit-transform: scale(1.15);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.15);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    overflow: hidden;
}

i.little-icon.cooler,
i.little-icon.cooler.disable:hover {
    background: url(../images/cooler.png) no-repeat;
}

i.little-icon.cooler:hover,
i.little-icon.cooler.disable {
    background: url(../images/cooler_bw.png) no-repeat;
}

i.little-icon.pool,
i.little-icon.pool.disable:hover {
    background: url(../images/pool.png) no-repeat;
}

i.little-icon.pool.disable,
i.little-icon.pool:hover {
    background: url(../images/pool_bw.png) no-repeat;
}

i.little-icon.tv,
i.little-icon.tv.disable:hover {
    background: url(../images/tv.png) no-repeat;
}

i.little-icon.tv.disable,
i.little-icon.tv:hover {
    background: url(../images/tv_bw.png) no-repeat;
}

i.little-icon.wifi,
i.little-icon.wifi.disable:hover {
    background: url(../images/wifi.png) no-repeat;
}

i.little-icon.wifi.disable,
i.little-icon.wifi:hover {
    background: url(../images/wifi_bw.png) no-repeat;
}

i.little-icon.laundry,
i.little-icon.laundry.disable:hover {
    background: url(../images/laundry.png) no-repeat;
}

i.little-icon.laundry.disable,
i.little-icon.laundry:hover {
    background: url(../images/laundry_bw.png) no-repeat;
}

i.icon {
    width: 67px;
    height: 67px;
    display: block;
    position: absolute;
    top: 120px;
    right: 93px;
    border: 2px solid white;
    border-radius: 50%;
}

i.icon.house,
i.right-icon.house {
    background: url(../images/house.png) no-repeat;
}

i.icon.bus,
i.right-icon.bus {
    background: url(../images/Bus.png) no-repeat;
}

i.icon.hotel,
i.right-icon.hotel {
    background: url(../images/hotel.png) no-repeat;
}

i.icon.apartment,
i.right-icon.apartment {
    background: url(../images/Apartment.png) no-repeat;
}

i.icon.restaurant,
i.right-icon.restaurant {
    background: url(../images/restaurant.png) no-repeat;
}

i.icon.beach,
i.right-icon.beach {
    background: url(../images/beach.png) no-repeat;
}

i.icon.telecabin,
i.right-icon.telecabin {
    background: url(../images/telecabin.png) no-repeat;
}

ul.vision {
    right: 100px !important;
    left: unset !important;
    direction: rtl !important;
}

i.right-icon {
    width: 67px;
    height: 67px;
    display: block;
    position: absolute;
    bottom: 135px;
    right: 12px;
    border: 2px solid white;
    border-radius: 50%;
}

ul.facility {
    padding: 0;
    margin-top: 0.5em;
}

ul.facility li {
    display: inline-block;
    list-style-type: none;
}

ul.facility li a span {
    width: 25px;
    height: 25px;
    background: url('../images/splits.png') no-repeat 0px 0px;
    display: block;
}

ul.facility li a span:hover {
    opacity: 0.6;
}

ul.facility li a span.fan {
    background-position: -8px -8px;
}

ul.facility li a span.hairdryer {
    background-position: -34px -7px;
}

ul.facility li a span.iron {
    background-position: -63px -7px;
}

ul.facility li a span.tv {
    background-position: -94px -4px;
}

ul.facility li a span.wifi {
    background-position: -126px -8px;
}

ul.facility li a span.coffee {
    background-position: -153px -7px;
}

ul.item_module li.module_pic {
    float: right;
    margin-left: 1em;
    padding: 15px 0 0 0;
}

ul.item_module li.module_pic img {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border: 3px solid #e2dee0;
    width: 82%;
}

.module_right {
    text-align: right;
}

.load-more {
    text-align: center;
}

.load-more input {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
}

i.s1,
i.s2 {
    float: right;
    margin-right: 0;
    margin-left: 1em;
}

.service_grid p {
    text-align: right !important;
    direction: rtl !important;
}

label.btn1.btn2.btn-2.btn-2g {
    padding: 13px 25px !important;
}

.footer-grid2 {
    font-family: Vazir !important;
    float: right;
    text-align: right;
    line-height: 33px;
}

.footer-grid2.last_grid {
    margin-left: 0;
}

/* #loginBox{
    direction: rtl !important;
    font-family: Vazir !important;
} */

#loginForm #login {
    margin-left: 25px !important;
    margin-right: 0 !important;
}

#body label {
    float: right !important;
}

#loginForm #checkbox {
    float: right !important;
}

#loginForm .little-right-padding {
    margin-right: 3px !important;
}

#loginForm span {
    margin-right: 15px !important;
}

.index-grids {
    margin-bottom: 20px;
}

@keyframes zoom-in {
    0% {
        transform: scale(.1);
    }
    100% {
        transform: none;
    }
}

/* @keyframes rotate-right {
    0% {
      transform: translate(-100%) rotate(-100deg);
    }
    100% {
      transform: none;
    }
  } */

.is-animated {
    animation: .6s zoom-in;
    /* animation: .6s rotate-right;  */
}

.bottom_grid {
    padding-top: 0 !important;
}

.middle_grid {
    padding: 0 !important;
}

.banner.littlebanner {
    min-height: 150px !important;
}

.carousel-inner a.thumbnail {
    margin: 0 !important;
}

.review-comment-form {
    border: 10px solid lightsalmon;
    padding: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    border-radius: 7px;
}

.review-comment-form p {
    color: #787878;
}

.review-comment-form .form-group label {
    color: green;
}

.review-comment-form .form-group {
    margin-bottom: 25px;
}

button.btn-submit {
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    width: 100%;
    background-color: #F19E1F;
    color: white;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

button.btn-submit:hover {
    /* opacity: 0.6;*/
    color: lightgray;
    background: #7B3000;
}

.room-title-area {
    margin-top: 30px;
}

.room-service-area {
    margin-top: 30px;
    margin-bottom: 30px;
}

ul.room-services {
    color: #bbbbbb;
    margin-bottom: 20px;
    padding-left: 0;
    list-style: none;
}

ul.room-services li {
    background-color: #f8f8f8;
    border-radius: 5px;
    color: #666666;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 7px;
    padding: 18px 0;
    text-align: right;
    -webkit-width: calc(50% - 7px);
    width: calc(50% - 7px);
}

ul.room-services li:nth-child(2n+1) {
    margin-left: 7px;
}

ul.room-services li i {
    font-size: 18px;
    margin: -3px 20px 0;
    vertical-align: middle;
}

.to input[type="text"] {
    float: right !important;
}

.room-thumb .main h5 span {
    display: block;
    color: #979797;
    font-size: 11px;
    font-weight: normal;
}

.list-unstyled {
    padding: 0;
    direction: rtl;
    text-align: right;
}

ul.filter2 li.font-li {
    margin-top: 10px;
    float: right;
}

ul.filter2 li.font-li a {
    color: lightgray;
    font-size: 1.3em;
    margin: .5em;
}

ul.filter2 li.font-li a:hover {
    color: #F19E1F;
}

/********************************
        Start amirnajdi
 *********************************/

/*********************************
     Start persiandatetimepicker
 ********************************/
.popover {
    min-width: 360px !important;
    font-family: Vazir !important;
}

[data-name="md-datetimepicker-title"] {
    background-color: #f19e1f;
    font-family: Vazir !important;
    font-size: 20px !important;
    padding: 10px !important;

}

[data-name="md-persiandatetimepicker"] button {
    font-size: 16px !important;
}

[data-name="md-persiandatetimepicker"] table.table td {
    text-align: center;
    padding: 5px !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

[data-name="md-persiandatetimepicker"] table.table tr[data-name="md-persiandatetimepicker-weekdaysnames"] td {
    font-size: 17px !important;
}

[data-name="md-persiandatetimepicker"] table[data-name="md-persiandatetimepicker-headertable"] .dropdown-menu li {
    font-size: 18px !important;
}

[data-name="md-datetimepicker-popovercontent"] a[data-name="go-today"] {
    padding: 10px !important;
}

/*********************************
     End persiandatetimepicker
 ********************************/

/********************************
      Start villa.html
 *******************************/
.error_date {
    font-family: Vazir;
    color: red !important;
    font-size: 12px;
    margin-top: 10px;
    padding: 0px;
    margin-bottom: 0px !important;
    display: none;
}

.about_villa {
    padding: 20px;
    line-height: 35px;
    margin-bottom: 5px;
    text-align: justify;
}

.review-comment-form {
    border: 5px solid #f19e1f;
}

.review-comment-form label {
    margin-bottom: 6px;
    font-family: Vazir !important;
}

.review-comment-form-input {
    font-family: Vazir !important;
    height: 37px;
    line-height: 37px;
}

.room-service-area {
    margin-top: 30px;
    margin-bottom: 30px;
}

ul.room-services {
    color: #bbbbbb;
    margin-bottom: 20px;
    padding-left: 0;
    list-style: none;
}

ul.room-services li {
    margin: 0 0 7px;
    padding: 18px 0;
    text-align: right;
}

.room-service-area .disabled {
    opacity: 0.5;
}

.actived {
    color: green !important;
}

.room-service-area .room-services .disabled {
    opacity: 0.5;
}

.actived {
    color: green !important;
}

@media (max-width: 768px) {
    .about_villa {
        padding: 0px 8px 0px 8px;
        margin: 5px 0px 25px 0px;
        line-height: 40px;
    }

    .review-comment-form {
        margin-top: 30px;
    }

    .review-comment-form {
        padding: 10px;
    }

    .room-service-area ul {
        padding-right: 0px;
    }

    ul.room-services li {
        width: 100%;
    }
}

/********************************
      End villa.html
 *******************************/

/********************************
         Start index.htnl
 ******************************/
.room-list {
    position: relative;
    overflow: hidden;
    min-height: 343px;
}

.list-unstyled {
    margin-top: 3px;
    float: right;
    padding-right: 0px !important;
    margin-right: 10px !important;
    direction: rtl !important;

}

.list-unstyled li {
    padding-right: 0px !important;
    direction: rtl !important;
    float: right !important;
    line-height: 32px;
    font-weight: 600;
    font-size: 12.5px;
}

.room-thumb-body {
    float: right;
}

.room-thumb {
    font-family: Vazir !important;
}

.room-thumb .content {
    font-family: Vazir !important;
    padding: 5px 13px 0px 10px !important;
}

.room-thumb-title {
    direction: rtl;
    font-family: Vazir !important;
    padding-top: 10px;
    padding-right: 13px;
    line-height: 25px;
    text-align: right;
    width: 100%
}

.room-thumb-title h5 {
    font-size: 13px !important;
    position: relative;
    padding: 0 0 0 20px;
    display: table-cell;
    vertical-align: middle;
}

.room-thumb-title span {
    display: block;
    color: #979797;
    font-size: 11px;
    font-weight: normal;
}

.room-thumb-about {
    direction: rtl !important;
    text-align: right;
}

.room-thumb-about span {
    font-weight: bold;
}

.room-thumb-about p {
    font-family: Vazir !important;
    font-size: 14.5px;
    line-height: 35px;
    height: 150px;
    text-align: justify;
}

.room-thumb-Possibilities {
    padding: 0px !important;
    margin: 0px !important;
    direction: rtl;
}

.room-thumb-Possibilities span {
    float: right;
    text-align: right;
    font-weight: bold;
}

@media (max-width: 768px) {
    .room-thumb-body {
        margin: auto;
    }
}

/*****************************
        End index.html
****************************/
/*****************************
     Start resevation.html
****************************/
.theme-search-results-item-hotel-room-features {
    font-family: Vazir !important;
    line-height: 30px;
}

.theme-search-results-item-hotel-room-features li {
    font-size: 16px;
}

.theme-sidebar-section-title {
    font-size: 18px;
}

.theme-sidebar-section-summary-list {
    font-size: 14.5px !important;
}

.theme-sidebar-section-charges-item {
    font-family: Vazir !important;
}

.theme-sidebar-section-charges-item-title {
    margin-bottom: 8px !important;;
    font-size: 14.5px !important;
}

.theme-sidebar-section-charges-item-subtitle {
    font-size: 12.5px !important;
}

.theme-sidebar-section-charges-item-price {
    font-size: 14.5px !important;
}

.theme-sidebar-section-charges-total {
    font-size: 14.5px !important;
}

.theme-sidebar-section-features-list-title {
    font-size: 15px !important;
}

.theme-sidebar-section-features-list-body {
    font-size: 15px !important;
    line-height: 30px !important;
}

.theme-payment-page-booking-subtitle {
    line-height: 28px;
}

@media (max-width: 768px) {
    .theme-search-results-item-hotel-room-features li {
        width: 100%;
    }

    .theme-payment-page-item-thumb .theme-search-results-item-img {
        width: 100% !important;
        min-height: 180px !important;
        max-height: 200px !important;
    }

    .theme-payment-page-signin-title {
        font-size: 15.5px !important;
        line-height: 23px !important;
    }

    .theme-payment-page-signin-subtitle {
        margin-bottom: 30px !important;
    }

    .theme-payment-page-sections-item-input {
        width: 100% !important;
    }

    .theme-payment-page-booking-title {
        width: 100% !important;
        margin-bottom: 10px !important;
    }

    .theme-payment-page-booking-subtitle {
        width: 100% !important;
        line-height: 30px;
    }

    .theme-payment-page-booking-price {
        width: 100% !important;
        text-align: left;
        margin-top: 20px;
        font-size: 25px !important;
    }
    .theme-sidebar-section:first-child{
        margin-top: 15px !important;
    }
}

/*****************************
     End resevation.html
****************************/
/***************************
         Start Footer
***************************/
.footer_social {
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .footer-grid2 {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .last_grid h4 {
        line-height: 30px;
    }
}

/***************************
         End Footer
***************************/
/*************************
       End amirnajdi
 *************************/
